# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*/react-ui/src/env.personal.js
*/server/env.personal.js
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

.eslintcache
