{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": false,
  "printWidth": 80,
  "quoteProps": "preserve",
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
