{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "firebase-admin/*"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ]
  }
}