{
  "env": {
    "browser": true
  },
  "extends": ["airbnb-base"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2023,
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["firebase-admin/*"]
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ]
  }
}
