{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "mui-unused-classes"
  ],
  "rules": {
    "strict": 0,
    "curly": [
      "error",
      "all"
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ],
    "mui-unused-classes/unused-classes": 2,
    "no-alert": "error",
    "no-console": "error",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@material-ui/core",
            "message": "Please import specific method instead."
          },
          {
            "name": "@material-ui/icons",
            "message": "Please import specific method instead."
          },
          {
            "name": "date-fns",
            "message": "Please import specific method instead."
          },
          {
            "name": "lodash",
            "message": "Please import specific method instead, e.g. import debounce from 'lodash/debounce'."
          }
        ],
        "patterns": [
          "**/common/*",
          "!**/common/snackbarTypes",
          "!**/common/types",
          "**/components/*",
          "**/pages/*"
        ]
      }
    ],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}