@mixin expand-image($toolbarHeight) {
  $height: calc(100vh - #{$toolbarHeight});
  $width: 100%;

  main .flag {
    height: $height;
    width: $width;
  }
}

.entry {
  @include expand-image(56px);

  main .flag-img {
    max-height: 100%;
    max-width: 100%;
  }

  .drawer {
    width: 100%;
  }

  @media (min-width: 600px) {
    @include expand-image(64px);

    .drawer {
      width: 360px;
    }
  }
}
